{% extends 'adminlayout.html.twig' %}


{% block body %}
    <h1>Avion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ avion.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ avion.type }}</td>
            </tr>
            <tr>
                <th>Transporteur</th>
                <td>{{ avion.Transporteur }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ avion.Destination }}</td>
            </tr>
            <tr>
                <th>Vitesse</th>
                <td>{{ avion.vitesse }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ avion.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('avion_index') }}">back to list</a>

    <a href="{{ path('avion_edit', {'id': avion.id}) }}">edit</a>

    {{ include('avion/_delete_form.html.twig') }}
{% endblock %}
